<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momentum Clone</title>
    <link rel="stylesheet" href="./clock.css" />
    <script
      src="https://kit.fontawesome.com/e72dc595c6.js"
      crossorigin="anonymous"
    ></script>
  </head>