<div class="container flex-col">
    <h4 class="greeting">Welcome, {{userName}}</h4>
    <form class="todoForm">
        <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
</div>

  <script type="module" src="./js/displayTodos.js"></script>