 <div class="container flex-col">
    <h4 class="greeting">Welcome, {{userName}}</h4>
    <form class="todoForm">
      <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
  </div>

  <script>
    const onClickGetTodo = (e) =>{
    const selectedBefore = document.querySelector('.selected')
    if(selectedBefore){
      selectedBefore.classList.remove('selected')
    }
    e.target.classList.add('selected')
  }
  </script>