<div class="info txt-center">
    <i class="fas fa-plus emoji-plus "></i>
    <div class="info-txt "> Get Time <br/>&amp;Weather</div>
    <form class="place-form dp-none">
        <input class="placeInput" type="text" placeholder="Name of City" name="city" required=""/>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="./js/getTime.js"></script>
<script>
  //element
  const info = document.querySelector('.info')
  const infoTxt = document.querySelector('.info-txt')
  const infoEmoji = document.querySelector('.emoji-plus')
  const placeForm = document.querySelector('.place-form')

  const onClickInfo = (e) =>{
    infoTxt.classList.add('dp-none')
    infoEmoji.classList.add('dp-none')
    placeForm.classList.remove('dp-none')
  }

  const onSubmit = async(e) =>{
    e.preventDefault();
    let input = document.querySelector('.placeInput').value

    try{
      const res = await fetch('/user/city?city=' + input)
      input = ''
      if(!res.ok){
        return window.alert('Enter a proper Name of City')
      }
      const data = await res.json()
      console.log(data)
      const {weather, temp , humidity, location} = data
      
      placeForm.classList.add('dp-none')
      
      const clockHtml = `
        <div class="clock">
          <h1></h1>
        </div>
      `
      const weatherHtml = `
        <div class="weather">
          <div>${weather}, ${temp}&#8451;<br/>${humidity}&#37; Humidity</div>
          <div>at ${location}</div>
        </div>
      `
      info.innerHTML = clockHtml + weatherHtml

      const clock = document.querySelector('.clock').childNodes[1];
      setInterval(()=>getTime(clock), 1000)
    }catch(error){
      input = ''
      window.alert(error)
    }
  }

  info.addEventListener('click', onClickInfo)
  placeForm.addEventListener('submit', onSubmit)
  
  </script>
