<div class="info txt-center">
    <i class="fas fa-plus emoji-plus "></i>
    <div class="info-txt "> Get Time <br/>&amp;Weather</div>
    <form class="place-form dp-none">
        <input class="placeInput" type="text" placeholder="Name of City" name="city" required=""/>
        <button type="submit">Submit</button>
    </form>
</div>


<script src="./js/getTime.js"></script>
<script type="module">
  import { setWeather, getWeather } from './js/getData.js' 

  //element
  const info = document.querySelector('.info')
  const infoTxt = document.querySelector('.info-txt')
  const infoEmoji = document.querySelector('.emoji-plus')
  const placeForm = document.querySelector('.place-form')

  let weather, temp, humidity, city  = ''
  //variables to display weather

  const onClickInfo = (e) =>{
    infoTxt.classList.add('dp-none')
    infoEmoji.classList.add('dp-none')
    placeForm.classList.remove('dp-none')
  }

  const init = async() =>{
    try{
      const cityData = await getWeather()
      if(cityData){
        getWeatherAPI(cityData.city)
        info.addEventListener('mouseenter', hover)
        info.addEventListener('mouseleave', hoverOut)
      }else{
        info.addEventListener('click', onClickInfo)
        placeForm.addEventListener('submit', onSubmit)
      }
    }catch(err){
      console.log(err)
    }
  }
  const hover = (e) =>{
    const divExist = info.querySelector('.change-btn')
    if(divExist){
      divExist.classList.remove('dp-none')
      return
    }
    const div = document.createElement('div')
    div.innerText = 'Change'
    div.classList.add('change-btn')
    info.append(div)
  }
  const hoverOut = (e) =>{
    info.lastElementChild.classList.add('dp-none')
  }

  const onSubmit = (e) =>{
    e.preventDefault();
    let input = document.querySelector('.placeInput').value
    getWeatherAPI(input)
    input = ''
  }

  const getWeatherAPI = async(value) =>{
    const url =
    'http://api.weatherstack.com/current?access_key=bd459e9c00f721c07d47a7debfbbe4ff&query=$' +
    value;

    try{

      const res = await fetch(url);
      const { error = '', current = '', location = '' } = await res.json();

      if (error) {
        return window.alert('Enter a vaild name of city' );
      }

      const data = {
          temp: current.temperature,
          weather: current.weather_descriptions[0],
          humidity: current.humidity,
          city: location.name + ', ' + location.country,
          };

      setWeather(value) //set City of User Data in firestore.
       weather = data.weather
       temp = data.temp
       humidity = data.humidity
       city = data.city
        console.log(weather)
       displayWeather()

    }catch(err){
      console.log(err)
    }
  }
  const displayWeather = () =>{
      infoTxt.classList.add('dp-none')
      infoEmoji.classList.add('dp-none')
      placeForm.classList.add('dp-none')
      
      const clockHtml = `
        <div class="clock">
          <h1></h1>
        </div>
      `
      const weatherHtml = `
        <div class="weather">
          <div>${weather}, ${temp}&#8451;<br/>${humidity}&#37; Humidity</div>
          <div>at ${city}</div>
        </div>
      `
      info.insertAdjacentHTML('beforeend' ,clockHtml + weatherHtml)

      const clock = document.querySelector('.clock').childNodes[1];
      setInterval(()=>getTime(clock), 1000)

  }
   
  window.addEventListener('DOMContentLoaded', init)
  
  </script>
