<div class="info txt-center">
    <i class="fas fa-plus emoji-plus "></i>
    <div class="info-txt "> Get Time <br/>&amp;Weather</div>
    <form class="place-form dp-none">
        <input class="placeInput" type="text" placeholder="Name of City" name="city" required=""/>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="./js/getTime.js"></script>
<script type="module">
  import { setWeather } from './js/getData.js' 

  //element
  const info = document.querySelector('.info')
  const infoTxt = document.querySelector('.info-txt')
  const infoEmoji = document.querySelector('.emoji-plus')
  const placeForm = document.querySelector('.place-form')

  const onClickInfo = (e) =>{
    infoTxt.classList.add('dp-none')
    infoEmoji.classList.add('dp-none')
    placeForm.classList.remove('dp-none')
  }

  const onSubmit = async(e) =>{
    e.preventDefault();
    let input = document.querySelector('.placeInput').value

    const url =
    'http://api.weatherstack.com/current?access_key=bd459e9c00f721c07d47a7debfbbe4ff&query=$' +
    input;

    const res = await fetch(url);
    const { error = '', current = '', location = '' } = await res.json();

    if (error) {
      return window.alert('Enter a vaild name of city' );
    }

    const data = {
        temp: current.temperature,
        weather: current.weather_descriptions[0],
        humidity: current.humidity,
        city: location.name + ', ' + location.country,
        };

    setWeather(input) //set city of User in firestore.
    const { weather , temp , humidity , city } = data
    placeForm.classList.add('dp-none')
    
    const clockHtml = `
      <div class="clock">
        <h1></h1>
      </div>
    `
    const weatherHtml = `
      <div class="weather">
        <div>${weather}, ${temp}&#8451;<br/>${humidity}&#37; Humidity</div>
        <div>at ${city}</div>
      </div>
    `
    info.innerHTML = clockHtml + weatherHtml

    const clock = document.querySelector('.clock').childNodes[1];
    setInterval(()=>getTime(clock), 1000)
   
  }

  info.addEventListener('click', onClickInfo)
  placeForm.addEventListener('submit', onSubmit)
  
  </script>
