<div class="info txt-center flex-col">
    <div class="clock">
          <h1></h1>
    </div>
    <div class="frame"></div>

    
</div>


<script src="./js/getTime.js"></script>
<script type="module">
  import { setWeather, getWeather } from './js/getData.js' 
   let weather, temp, humidity, city  = ''
  //variables to display weather

  //element
  const info = document.querySelector('.info')
  const frame = document.querySelector('.frame')
  
  //frame for User who doesn't have Weather Data
  const frame1 = `<div class="info-txt"><i class="fas fa-plus emoji-plus "></i> GET<br/> Weather</div>`
  //frame of form to get Weather
  const frame2 = `
        <form class="place-form">
          <input class="placeInput" type="text" placeholder="Name of City" name="city" required=""/>
          <button type="submit">Submit</button>
        </form>
        `
  //frame for User who has Weather Data
  const frame3 = () =>( `
        <div class="weather" >
          <div>${weather}, ${temp}&#8451;<br/>${humidity}&#37; Humidity</div>
          <div>at ${city}</div>
        </div>`
        )

  
  const init = async() =>{
    frame.innerHTML = frame1 //when User doesn't have Weather Data
    frame.firstChild.addEventListener('click', formVisible)
    try{
      const cityData = await getWeather()
      if(cityData.city){
        getWeatherAPI(cityData.city)//when User has Weather Data
      }
    }catch(err){
      console.log(err)
    }
  }

//funnction when Mouse is on the Weather div
  const hover = () =>{
    const divExist = frame.querySelector('.change-btn')
    if(divExist){
      divExist.classList.remove('dp-none')
      return
    }
    const div = document.createElement('div')
    div.innerText = 'Change'
    div.classList.add('change-btn')
    div.addEventListener('click', formVisible)
    frame.append(div)
  }

  const hoverOut = () => {
    const divExist = frame.querySelector('.change-btn')

    if(divExist){
      divExist.classList.add('dp-none')
    }
  }

  const formVisible = () =>{
    frame.innerHTML = frame2
    //Event at Line 117
    info.removeEventListener('mouseenter', hover)
    info.removeEventListener('mouseleave', hoverOut)

    const weatherForm = document.querySelector('.place-form')
    weatherForm.addEventListener("submit", onSubmit)
  }

  const onSubmit = (e) =>{
    e.preventDefault();
    let input = document.querySelector('.placeInput').value
    getWeatherAPI(input)
    input = ''
  }

  const getWeatherAPI = async(value) =>{
    const url =
    'http://api.weatherstack.com/current?access_key=bd459e9c00f721c07d47a7debfbbe4ff&query=$' +
    value;

    try{

      const res = await fetch(url);
      const { error = '', current = '', location = '' } = await res.json();

      if (error) {
        return window.alert('Enter a vaild name of city' );
      }

      const data = {
          temp: current.temperature,
          weather: current.weather_descriptions[0],
          humidity: current.humidity,
          city: location.name + ', ' + location.country,
          };

        setWeather(value) //set City of User Data in firestore.

       weather = data.weather
       temp = data.temp
       humidity = data.humidity
       city = data.city
       
       frame.innerHTML = frame3()
       const weatherDisplay = document.querySelector('.weather')
       //If mouse is entered, display turns into Change Button
        info.addEventListener('mouseenter', hover)
        info.addEventListener('mouseleave', hoverOut)

    }catch(err){
      console.log(err)
    }
  }
   
  window.addEventListener('DOMContentLoaded', init)
  
  </script>
