<div class="info txt-center flex-col">
    <div class="clock">
          <h1></h1>
    </div>
    <div class="frame"></div>
</div>


<script src="./js/getTime.js"></script>
<script type="module" src="./js/displayWeather.js"></script>

