<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{{body}}}
      
    <div class="bg-color"></div>
    <img src="./image/4.jpg" class="bgImage"/>

  </body>
</html>
<script type="module">
  import { errAlert } from './js/errAlert.js'

  const errMessage = "{{err}}"
  if(errMessage){
    console.log(errMessage)
    errAlert(errMessage, 4000)
  }
</script>
<script >
   window.addEventListener("DOMContentLoaded", () => {
      const firebaseConfig = {
        apiKey:"AIzaSyDDpXBnLVIw2JucVkHKhmuSCuooZSF28cg",
        authDomain:"my-momentum.firebaseapp.com",
        projectId: "my-momentum",
        storageBucket:"my-momentum.appspot.com",
        messagingSenderId:"1000550740891",
        appId: "1:1000550740891:web:b9f1d9a0fe35b0313c673e",
        measurementId:"G-MDXK308QRQ",
      };

      firebase.initializeApp(firebaseConfig);
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
   })
</script>
