<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{#if msg}}<div class="err">{{msg}}</div>{{/if}}
    {{{body}}}
    
    
    <div class="bg-color"></div>
    <script src="./js/getImage.js"></script>
    
  </body>
  <script>
    const errMsg = document.querySelector('.err')
    const lifter = (time) =>{
      if(errMsg){
      setTimeout(()=> errMsg.style.transform = 'translateY(-50px)', time)
      }
    }
    lifter(4500)
  </script>
</html>
