<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{#if msg}}<div class="err">{{msg}}</div>{{/if}}
    {{{body}}}
    
    
    <div class="bg-color"></div>
    <script src="./js/getImage.js"></script>
    <script type="module" src="./js/getData.js"></script>

  </body>
  <script>
    const errMsg = document.querySelector('.err')
    const lifter = () =>{
      if(errMsg){
      setTimeout(()=> errMsg.style.transform = 'translateY(-50px)', 4500)
      }
    }
    errMsg.addEventListener('load', lifter)
  
  </script>
</html>
