<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{{body}}}
    
    
    <div class="bg-color"></div>
    <script src="./js/getTime.js"></script>
    <script src="./js/getImage.js"></script>
    
  </body>
</html>
