<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{{body}}}
    
    
    <div class="bg-color"></div>
    <img src="./image/4.jpg" class="bgImage"/>
    
    <script type="module" src="./js/getWeather.js"></script>
    <script type="module" src="./js/getTodo.js"></script>


  </body>
</html>
<script type="module">
  import { errAlert } from './js/errAlert.js'

  const errMessage = "{{err}}"
  if(errMessage){
    console.log(errMessage)
    errAlert(errMessage, 4000)
  }
</script>
