<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{{body}}}
    
    <div class="btn_user">Change User</div>
    <div class="bg-color"></div>
    <script src="getTime.js"></script>
    <script src="getImage.js"></script>
    <script type="module" src="getName.js"></script>
    <script type="module" src="getTodo.js"></script>
    
  </body>
</html>
