<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    {{#if msg}}<div class="err">{{msg}}</div>{{/if}}
    {{{body}}}
    
    
    <div class="bg-color"></div>
    <img src="./image/4.jpg" class="bgImage"/>
    
    <script src="./js/getImage.js"></script>
    <script type="module" src="./js/getWeather.js"></script>
    <script type="module" src="./js/getTodo.js"></script>


  </body>
  <script>
    const errMsg = document.querySelector('.err')
    const lifter = () =>{
      setTimeout(()=> errMsg.style.transform = 'translateY(-50px)', 4500) 
    }
    if(errMsg){
    errMsg.addEventListener('load', lifter)
    }
  </script>
</html>
