<div>
  <div class="info m1 txt-center">
    <div class="clock">
      <h1>00:00:00</h1>
    </div>
    <div class="weather">
      <div>Sunny, 6&#8451, 25%</div>
      <div>at Seoul</div>
    </div>
  </div>
  <div class="container">
    <form class="nameForm">
      <input type="text" placeholder="What is your Name?" />
    </form>
    <h4 class="greeting dp-none">Welcome, Summer</h4>
    <form class="todoForm">
      <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
  </div>
</div>