<section>
  <div class="left-side m1">
    {{>weather}}
    <div class="parent links flex-col">
      <a class="link-title spreadButton"><i class="fas fa-link"></i> My Links</a>
      
    </div>
  </div>
  <div class="container flex-col">

    <h4 class="greeting">Welcome, {{userName}}</h4>
    <form class="todoForm">
      <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
  </div>
  <div class="parent right-side m1 flex-col">
    <div class="folder-title spreadButton"><i class="far fa-folder-open"></i> My Folder</div>
    
  </div>
  <form action="/login/logout" method="GET" class="logout">
    <button type="submit" class="logout-btn">Logout</button>
  </form>
</section>

<script type="module">
  import { setFolder, getInitialData} from './js/getTodo.js' 
  let FolderData = {}
  let LinkData = {}

  //Ingredient for make new Folder element or Link element
  const addBtnIcon = "<i class="fas fa-plus emoji-plus "></i>"
  const makeElement = (isLink, value) =>{
      const index = isLink ? 0 : 1
      const element = isLink ? 'a' : 'div'

      return `<${element} class="${isLink ? 'link' : 'folder'} FadeInOut">${value}</${element}>`
  }

  const init = async() =>{
    //button to spread Folders and Links
    const spreadButtons = document.querySelectorAll('.spreadButton')
  
    //parent node of Folders and Links
    const parents = document.querySelectorAll('.parent')
    //parents[0] = link parent Div
    //parents[1] = folder parent Div

    const data = await getInitialData() 
    FolderData = data.folders
    LinkData = data.links

    Object.keys(LinkData).forEach(link => parents[0].insertAdjacentHTML('beforeend', makeElement(true, link)))
    Object.keys(FolderData).forEach(folder => parents[1].insertAdjacentHTML('beforeend', makeElement(false, folder)))
    
    parents[0].insertAdjacentHTML('beforeend', makeElement(true, addBtnIcon))
    parents[1].insertAdjacentHTML('beforeend', makeElement(false, addBtnIcon))

    parents.forEach(parent=>parent.lastElementChild.addEventListener('click', formDisplay))
    spreadButtons.forEach(btn=>btn.addEventListener('click', spreadFolder))
  }

  //Interaction when User click "My Folders" or "My Links"
  const spreadFolder = (e) =>{
    const childrenDivs = e.currentTarget.parentNode.children
    const lists = Array.from(childrenDivs).slice(1) //except first Div = buttons to toggle
    lists.forEach(element=>element.classList.toggle('FadeInOut'))
  }

  //when User click create Folder or create Link button
  const formDisplay = (e) =>{
    e.currentTarget.parentElement.lastElementChild.removeEventListener('click', formDisplay)
    e.currentTarget.innerHTML = `
     <form class="place-form">
        <input class="Input" type="text" placeholder="Enter the Name" name="folder" required=""/>
        <button type="submit">Submit</button>
      </form>
    `
    e.currentTarget.addEventListener('submit', onSubmitFolder)
  } 

  const onSubmitFolder = async(e) =>{
    e.preventDefault();
    let input = e.currentTarget.querySelector('.Input').value
    
    //send data to different Router depends on Links or Folders
    const isLink = e.currentTarget.classList.contains('link')
    await setFolder(input, isLink)

    const parent = e.target.parentElement.parentElement

    parent.lastElementChild.remove() //delete submit form
    parent.insertAdjacentHTML('beforeend', makeElement(isLink, input))//new Div(input)
    parent.insertAdjacentHTML('beforeend', makeElement(isLink, addBtnIcon))//new Div(button for submit new input)
    parent.lastElementChild.addEventListener('click', formDisplay)
  }

  window.addEventListener('DOMContentLoaded', init)

</script>