<section>
  <div class="left-side m1">
    <div class="info txt-center">
      <div class="clock">
        <h1>00:00:00</h1>
      </div>
      <div class="weather">
        <div>Sunny, 6&#8451, 25%</div>
        <div>at Seoul</div>
      </div>
    </div>
    <div class="links flex-col">
      <a class="folder-title"><i class="fas fa-link"></i> My Links</a>
      <a class="folder">Develop site</a>
      <a class="folder">useful links for portfolio</a>
      <a class="folder">Business</a>
      <a class="folder">ref</a>
    </div>
  </div>
  <div class="container flex-col">
    <form class="nameForm">
      <input type="text" placeholder="What is your Name?" />
    </form>
    <h4 class="greeting dp-none">Welcome, Summer</h4>
    <form class="todoForm">
      <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
  </div>
  <div class="right-side m1 flex-col">
    <div class="folder-title"><i class="far fa-folder-open"></i> My Folder</div>
    <div class="folder">Routine</div>
    <div class="folder selected">Career</div>
    <div class="folder">Business</div>
    <div class="folder">My Dog</div>
  </div>
  <div class="btn_user">Change User</div>
</section>