<section>
  <div class="weather-side m1">
    {{>weather}}
  </div>

  {{> todos}}

  <div class="parent-side right-side">
    <div class="parent links flex-col">
      <a class="link-title link spreadButton"><i class="fas fa-link"></i> Links</a>
    </div>
    <div class="parent folders flex-col">
      <div class="folder-title folder spreadButton"><i class="far fa-folder-open"></i> Folder</div>
    </div>
  </div>

  <div class="buttons">
    <form class="deleteFolder dp-none">
      <button type="submit"></button>
    </form>
    <form class="logout">
      <button type="reset" class="logout-btn">Logout</button>
    </form>
  </div>

</section>

<script>
  const logoutBtn = document.querySelector('.logout-btn');
  const logoutHandler = async() =>{
    try{
      await firebase.auth().signOut()
      await fetch('/login/logout')
      return window.location.assign('/login')
    }catch{(err) => {
      console.log(err)
      return window.location.assign('/login')
      }
    }
  }
  logoutBtn.addEventListener("click", logoutHandler)

</script>
<script type="module" src="./js/displayFolder.js"></script>