<section>
  <div class="left-side m1">
    {{>weather}}
    <div class="links flex-col">
      <a class="link-title"><i class="fas fa-link"></i> My Links</a>
      <a class="link">Develop site</a>
      <a class="link">useful links for portfolio</a>
      <a class="link">Business</a>
      <a class="link"><i class="fas fa-plus emoji-plus "></i></a>
    </div>
  </div>
  <div class="container flex-col">

    <h4 class="greeting">Welcome, {{userName}}</h4>
    <form class="todoForm">
      <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
  </div>
  <div class="right-side m1 flex-col">
    <div class="folder-title"><i class="far fa-folder-open"></i> My Folder</div>
    <div class="folder">Routine</div>
    <div class="folder selected">Career</div>
    <div class="folder">Business</div>
    <div class="folder">My Dog</div>
    <div class="folder"><i class="fas fa-plus emoji-plus "></i></div>
  </div>
  <form action="/login/logout" method="GET" class="logout">
    <button type="submit" class="logout-btn">Logout</button>
  </form>
</section>
<script>
  const folderBtn = document.querySelector('.folder-title')
  const linkBtn = document.querySelector('.link-title')

  const folders = document.querySelectorAll('.folder')
  const links = document.querySelectorAll('.link')

  const onClick = (e) =>{
    const lists = Array.from(e.currentTarget.parentNode.children).slice(1)
    lists.forEach(element=>element.classList.toggle('FadeInOut'))
  }


  
  folderBtn.addEventListener('click', onClick)
  linkBtn.addEventListener('click', onClick)

</script>