<section class="login">
    <h1 class="large text-primary">
        Sign In
    </h1>
    <p class="lead"><i class="fas fa-user"></i> Sign into Your Account</p>
    <form class="login-form">
    
        <input
            type="email"
            placeholder="Email Address"
            name="email"
            required=""
            id="email"

        />
        <input
            type="password"
            placeholder="Password"
            name="password"
            required=""
            id="password"
        />
       
        <input type="submit" class="login-btn" value='Login' />
    </form>
    <p>Don't have an account?</p>
    <a href="/register" class="large switch"> Sign Up </a>
</section>
<script>
    const form = document.querySelector('.login-form')

    const authHandler = (e) =>{
        e.preventDefault();
        const email = form['email'].value;
        const password = form['password'].value;
      
        firebase
            .auth()
            .signInWithEmailAndPassword(email, password)
            .then(({ user }) => {
                return user.getIdToken().then((idToken) => {
                    return fetch('/sessionLogin', {
                        method: "POST",
                        headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                        },
                        body: JSON.stringify({ idToken }),
                    });
                });
            })
            .then(() => {
                window.location.assign("/");
            });        
        }
        
    form.addEventListener("submit", authHandler)
</script>
