<section class="login">
    <h1 class="large text-primary">Sign In</h1>
    <p class="lead"><i class="fas fa-user"></i> Sign into Your Account</p>
    <form class="login-form" action="/login" method="POST">
        <input
            type="email"
            placeholder="Email Address"
            name="email"
            required=""
        />
      
        <input
            type="password"
            placeholder="Password"
            name="password"
            required=""
        />
        <input type="submit" class="login-btn" value="Login" />
    </form>
    <p>
        Don't have an account? <a href="#" class="large link">Sign Up</a>
    </p>
</section>
