<section class="login">
    <h1 class="large text-primary">Sign Up</h1>
    <p class="lead"><i class="fas fa-user"></i> Register Your Account</p>
    <form class="login-form" action="/register" method="POST">
        <input
            type="name"
            placeholder="Your display Name"
            name="userName"
            required=""
        />

        <input
            type="email"
            placeholder="Email Address"
            name="email"
            required=""
        />
      
        <input
            type="password"
            placeholder="Password"
            name="password"
            required=""
        />

        <input
            type="password"
            placeholder="Confirm Password"
            name="password2"
            required=""
        />
        <input type="submit" class="login-btn" value="Register" />
    </form>
    <p>
        Already have an account? <a href="/login" class="large link">Sign In</a>
    </p>
</section>
