* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}
body,
html {
  width: 100vw;
  height: 100vh;
}
:root {
  --main-color: rgb(206, 91, 125);
  --main-color2: rgb(124, 190, 228);
  --reverse-color: rgb(151, 151, 151);
  --font-color: #fefefe;
  --border-color: rgb(189, 189, 189);
}
section {
  height: 100vh;
}
.m1 {
  margin: 1rem;
}
.m2 {
  margin: 2rem;
}
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.txt-center {
  text-align: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 30px;
  width: 50vw;
  margin: auto;
  height: 100%;
}
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--font-color);
  width: 16vw;
}
.left-side > div {
  width: 100%;
}
.info {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.info weather div {
  font-size: 1rem;
}

.clock {
  font-size: 1.5rem;
}
.dp-none {
  display: none;
}

.show {
  display: block;
}
.nameForm input,
.todoForm input {
  width: 20vw;
  height: 30px;
  padding: 5px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
}
.nameForm input:focus,
.todoForm input:focus {
  border-color: var(--border-color);
}
.greeting {
  font-size: 1.5rem;
}
.todoList {
  font-size: 1.5rem;
  width: 40vw;
  text-align: center;
}
.todoList li {
  background: var(--reverse-color);
  color: var(--font-color);
  border-radius: 5px;
  margin: 0.5rem 0;
  position: relative;
  border: 2px solid var(--border-color);
}
.todoList i {
  padding: 4px 6px;
  background: var(--main-color);
  color: var(--font-color);
  border-radius: 3px;
  cursor: pointer;
  margin-left: 1rem;
  position: absolute;
  right: 0;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--font-color);
  width: 16vw;
}
.right-side:nth-child(1),
.links:nth-child(1) {
  background: var(--main-color2);
}
.right-side > div,
.links > a {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.right-side > div:hover,
.links > a:hover {
  background: var(--main-color);
}
.selected {
  background: var(--main-color);
}
.btn_user {
  font-size: 18px;
  color: var(--font-color);
  border: solid 2px var(--border-color);
  border-radius: 5px;
  position: absolute;
  right: 10px;
  padding: 10px 15px;
  bottom: 10px;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn_user:hover {
  background-color: var(--main-color);
}
.bgImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: fadeIn 2s linear;
}
.bg-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  .nameForm input,
  .todoForm input {
    width: 50vw;
  }
  .todoList {
    width: 60vw;
  }
}
