<div class="container flex-col">
    <h2 class="greeting">Welcome, {{userName}}</h2>
    <h1 class="todo-title">Click your Menu!</h1>
    <form class="todoForm dp-none">
        <input type="text" placeholder="To do" />
    </form>
    <ul class="todoList"></ul>
</div>

<script type="module" src="./js/displayTodos.js"></script>